<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net4" />
  <package id="Jil" version="2.14.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" requireReinstallation="true" />
  <package id="Sigil" version="4.6.1" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="net4" />
</packages>